<div class="box">
	<h1 align="center">Editing Journal Entry</h1> 

	<%= render 'form', entry: @entry %>
	
	<p align="center" class="show-page-content-footer">
  		<br><br>
		<%= link_to 'Show', @entry %> |
		<%= link_to 'Back', entries_path %>
	</p>
</div>
