<div class="box">
	<h1 align="center">New Journal Entry</h1> 
	<h3 align="center"><%= Date.today %></h3><br>

	<%= render 'form', entry: @entry %>

	<p align="center" class="show-page-content-footer">
  		<br><br>
		<%= link_to 'Back', entries_path %>
	</p>
</div>