<p>
  <strong>Brush:</strong> <%= @todays_evening_ritual[0].brush %>
  <br />
  <strong>Core:</strong> <%= @todays_evening_ritual[0].core %>
  <br />
  <strong>Stretch:</strong> <%= @todays_evening_ritual[0].stretch %>
  <br />
  <strong>Journal / Plan Tomorrow:</strong> <%= @todays_evening_ritual[0].journal %>
</p>