<h1 align="center">Daily Journal</h1>
<table width="100%" align="center">
	<tr>
		<td align="center"><br>&nbsp;<br></td>
		<td align="center"><br>&nbsp;<br></td>
	</tr>
	<tr>
		<td align="center"><br>&nbsp;<br></td>
		<td align="center"><br>&nbsp;<br></td>
	</tr>
	<tr>
		<td align="center"><strong><%= link_to( "New Entry", :controller => :entries, :action => :new )%></strong></td>
		<td align="center"><strong><%= link_to( "Recent Entries", :controller => :entries, :action => :index )%></strong></td>
	</tr>
</table>
