<h1>Editing Daily Accomplishment</h1>

<%= render 'form', daily_accomplishment: @daily_accomplishment %>

<%= link_to 'Show', @daily_accomplishment %> |
<%= link_to 'Back', daily_accomplishments_path %>
