<div class="container-fluid" style="padding-right:12px; padding-left:12px;">
	<div class="row">
		<div class="col-lg-4 box" align="top">
			<h4 class="dash-header-2018">Morning Ritual</h4>
			<%-# STREAK TABLE -%>
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						CURRENT STREAK
					</div>
					<div class="col">
						LONGEST STREAK
					</div>
				</div>
				<div class="row">
					<div class="col">
						X days
					</div>
					<div class="col">
						Y days
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 box" align="top">
			<h4 class="dash-header-2018">Evening Ritual</h4>
			<%-# STREAK TABLE -%>
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						CURRENT STREAK
					</div>
					<div class="col">
						LONGEST STREAK
					</div>
				</div>
				<div class="row">
					<div class="col">
						X days
					</div>
					<div class="col">
						Y days
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 box" align="top">
			<h4 class="dash-header-2018">Smoking</h4>
			<%-# STREAK TABLE -%>
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						CURRENT STREAK
					</div>
					<div class="col">
						LONGEST STREAK
					</div>
				</div>
				<div class="row">
					<div class="col">
						X days
					</div>
					<div class="col">
						Y days
					</div>
				</div>
			</div>
			<%-# END STREAK TABLE -%>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 box" align="top">
			<h4 class="dash-header-2018">Diet</h4>
			<%-# STREAK TABLE -%>
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						CURRENT STREAK
					</div>
					<div class="col">
						LONGEST STREAK
					</div>
				</div>
				<div class="row">
					<div class="col">
						X days
					</div>
					<div class="col">
						Y days
					</div>
				</div>
			</div>
			<%-# END STREAK TABLE -%>
		</div>
		<div class="col-lg-4 box" align="top">
			<h4 class="dash-header-2018">Exercise</h4>
			<%-# STREAK TABLE -%>
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						CURRENT STREAK
					</div>
					<div class="col">
						LONGEST STREAK
					</div>
				</div>
				<div class="row">
					<div class="col">
						X days
					</div>
					<div class="col">
						Y days
					</div>
				</div>
			</div>
			<%-# END STREAK TABLE -%>
		</div>
		<div class="col-lg-4 box" align="top">
			<h4 class="dash-header-2018">Journal</h4>
			<%-# STREAK TABLE -%>
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						CURRENT STREAK
					</div>
					<div class="col">
						LONGEST STREAK
					</div>
				</div>
				<div class="row">
					<div class="col">
						X days
					</div>
					<div class="col">
						Y days
					</div>
				</div>
			</div>
			<%-# END STREAK TABLE -%>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 box" align="top">
		</div>
		<div class="col-lg-4 box" align="top">
		</div>
		<div class="col-lg-4 box" align="top">
		</div>
	</div>	
</div>