<div class="container-fluid" style="min-width:400px;">
	<div class="row">
		<div class="col" style="text-align:left; font-family: 'Permanent Marker', cursive; font-size: 14px; margin-bottom:6px;">
			impulse
		</div>
		<div class="col" style="text-align:left; font-family: 'Permanent Marker', cursive; font-size: 14px; margin-bottom:6px;">
			&nbsp;
		</div>
		<div class="col" style="text-align:left; font-family: 'Permanent Marker', cursive; font-size: 14px; margin-bottom:9px;">
		&nbsp;
		</div>
	</div>

	<% @recent_impulses.each{ |impulse| %>
		<div class="row">
			<div class="col" style="text-align:left; font-family: 'Caveat', cursive; font-size: 18px;">
				<%= impulse.name %>
			</div>
			<div class="col" style="text-align:center; font-family: 'Caveat', cursive; font-size: 18px;">
				<% if impulse.resisted == true %>
					resisted
				<% elsif impulse.resisted == false %>
					succumbed 
				<% else %>
				<% end %>
			</div>
			<div class="col">
				<% if impulse.resisted == true %>
					<%= button_to "  Succumb  : (  ", {:controller => "impulses", :action => "set_impulse_to_not_resisted", :id => impulse.id}, :method=>:put %>
				<% elsif impulse.resisted == false %>
					<%= button_to "      Resist   : )  ", {:controller => "impulses", :action => "set_impulse_to_resisted", :id => impulse.id}, :method=>:put %>
				<% else %>
					<p>
						Impulse <%= impulse.id %> isn't true or false. which is a problem your web administrator needs to know about.
					</p>
				<% end %>
			</div>
		</div>
	<% } %>
</div>
<div class="container" align="right">
	<br />
	<a href="/impluses/new">new Impulse</a>
</div>